<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.vrms.authentication.core.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserCreation</filter-name>
        <filter-class>com.vrms.creation.filter.UserCreation</filter-class>
    </filter>
    <filter>
        <filter-name>ChangePasswordFilter</filter-name>
        <filter-class>com.vrms.changepassword.ChangePasswordFilter</filter-class>
    </filter>
    <filter>
        <filter-name>VehicleCreation</filter-name>
        <filter-class>com.vrms.creation.filter.VehicleCreation</filter-class>
    </filter>
    <filter>
        <filter-name>CabCreation</filter-name>
        <filter-class>com.vrms.creation.filter.CabCreation</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CabCreation</filter-name>
        <url-pattern>/CreateCab</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>VehicleCreation</filter-name>
        <url-pattern>/CreateVehicle</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ChangePasswordFilter</filter-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserCreation</filter-name>
        <url-pattern>/CreateUser</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>CookieHacker</servlet-name>
        <servlet-class>com.vrms.authentication.core.CookieHacker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBOperator</servlet-name>
        <servlet-class>com.vrms.authentication.DBOperator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceLoginAuth</servlet-name>
        <servlet-class>com.vrms.authentication.ServiceLoginAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.vrms.authentication.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUser</servlet-name>
        <servlet-class>com.vrms.views.ManageUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUser</servlet-name>
        <servlet-class>com.vrms.creation.CreateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>com.vrms.search.SearchUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>com.vrms.changepassword.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateVehicle</servlet-name>
        <servlet-class>com.vrms.creation.CreateVehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCab</servlet-name>
        <servlet-class>com.vrms.creation.CreateCab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationsServlet</servlet-name>
        <servlet-class>com.vrms.pagination.NotificationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRequestServlet</servlet-name>
        <servlet-class>com.vrms.viewallocations.ViewRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookieHacker</servlet-name>
        <url-pattern>/cookie</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errorPage.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>DBOperator</servlet-name>
        <url-pattern>/db</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceLoginAuth</servlet-name>
        <url-pattern>/ServiceLoginAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUser</servlet-name>
        <url-pattern>/ManageUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUser</servlet-name>
        <url-pattern>/CreateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/SearchUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateVehicle</servlet-name>
        <url-pattern>/CreateVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCab</servlet-name>
        <url-pattern>/CreateCab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationsServlet</servlet-name>
        <url-pattern>/notification.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRequestServlet</servlet-name>
        <url-pattern>/ViewRequestServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
